.input-wrapper{
    background-color: none;
    margin-left: 40px;
    width: 25%;
    border-radius: 10px;
    height: 2rem;
    padding: 0 15px;
    box-shadow: 0px 0px 20px #ddd;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    color: white;
}

.link {
  width: 100%;
  padding-left: 10%;
}
.link .linkto{
  width: 100%;
}
.link:hover{
  cursor: pointer;
  color: aqua;
}


input::placeholder{
    color: #ddd;
}

input:focus{
    outline: none;
}

#search-icon{
    color: white;
}

.user-avatar{
  position: relative;
  cursor: pointer;
}

.menu-open {
  min-width: 175px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-open button{
  display: block;
  width: 100%;
  padding: 8px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-open button:hover{
  background-color: #797474;
}

.user-avatar-df{
  width: 40px;
  border-radius: 50%;
  margin-top: 11px;
}



@media screen and (max-width: 991px) {
  input {
    width: 100%;
  }

  .input-wrapper{
    margin: 0;
  }

  #search-icon, input::placeholder{
    color: black;
}
}
