.admin-container{
    height: 100vh;
    display: flex;
}
.admin-container .admin-content{
    height: 100%;
    width: 19%;
}

.admin-container .admin-content .admin-tab{
    height: 100%;
    background-color: #427fc1;
}

.admin-container .admin-content .admin-tab ul li{
    list-style-type: none;
}

.admin-container .admin-content .admin-tab ul li button{
    background-color: transparent;
    color: white;
    width: 100%;
    text-align: left;
}

.admin-container .admin-content .admin-tab ul li button:hover{
    opacity: 0.7;
}
